<!DOCTYPE>
<!--[if IE 7]>    <html class="ie7"> <![endif]-->
<!--[if IE 8]>    <html class="ie8> <![endif]-->
<!--[if IE 9]>    <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<title>РОГА&amp;СИЛА - Главная</title>
		<link href="../favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="../css/base.css"/>
		<link rel="stylesheet" type="text/css" href="template_styles.css"/>
		<link rel="stylesheet" type="text/css" href="styles.css"/>
		<link href="../js/bxslider/jquery.bxslider.css" rel="stylesheet" />
		<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="../js/jquery.placeholder.js"></script>
		<script type="text/javascript" src="../js/bxslider/jquery.bxslider.js"></script>
		<script type="text/javascript" src="../js/default_script.js"></script>

		<link type="text/css" href="../js/jquery.ui.selectmenu/jquery.ui.core.css" rel="stylesheet" />
		<link type="text/css" href="../js/jquery.ui.selectmenu/jquery.ui.theme.css" rel="stylesheet" />
		<link type="text/css" href="../js/jquery.ui.selectmenu/jquery.ui.selectmenu.css" rel="stylesheet" />
		<script type="text/javascript" src="../js/jquery.ui.selectmenu/jquery.ui.core.js"></script>
		<script type="text/javascript" src="../js/jquery.ui.selectmenu/jquery.ui.widget.js"></script>
		<script type="text/javascript" src="../js/jquery.ui.selectmenu/jquery.ui.position.js"></script>
		<script type="text/javascript" src="../js/jquery.ui.selectmenu/jquery.ui.selectmenu.js"></script>
		<!--[if lt IE 9]>
			<script src="../js/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="wrapper">
			<div class="base_layer"></div>
			<header class="header">
				<div class="width_960">
					<div class="inline-block">
						<span class="logo inline-block"></span>
					</div>
					<nav class="top_menu grey inline-block">
						<a href="#" class="register">Регистрация</a>
						<a href="#" class="auth">Авторизация</a>
					</nav>
					<div class="basket_block inline-block">
						<a href="#" class="basket_product_count inline-block">0</a>
						<a href="#" class="order_button pie">Оформить заказ</a>
					</div>
				</div>
			</header>
			<section class="fixed_block">
				<div class="width_960">
					<form name="search_form" class="search_form pie">
							<div class="search_form_wrapper">
								<input type="text" placeholder="Поиск по сайту"/>
								<input type="submit" value=""/>
							</div>
					</form>
					<nav class="main_menu">
						<ul>
							<li class="submenu pie">
								<span>Легковые</span>
								<div class="submenu_border"></div>
								<ul>
									<li><a href="#">Седаны</a></li>
									<li><a href="#">Хетчбеки</a></li>
									<li><a href="#">Универсалы</a></li>
									<li><a href="#">Купе</a></li>
									<li><a href="#">Родстеры</a></li>
								</ul>
							<li class="submenu pie">
								<span>Внедорожники</span>
								<div class="submenu_border"></div>
								<ul>
									<li><a href="#">Рамные</a></li>
									<li><a href="#">Пикапы</a></li>
									<li><a href="#">Кроссоверы</a></li>
								</ul>
							</li>
							<li><a href="#">Раритетные</a></li>
							<li><a href="#">Распродажа</a></li>
							<li><a href="#">Новинки</a></li>
					</ul>
					</nav>
				</div>
			</section>
			<section class="content">
				<div class="work_area width_960">
					#WORK_AREA#
				</div>
			</section>
			<div class="d_footer width_960"></div>
			<div class="clear"></div>
		</div>
		<footer class="footer width_960">
			<section class="float_inner bottom_block">
				<section class="shops_block">
					<h2 class="inline-block">Наши салоны</h2>
					<span class="dark_grey all_list">&nbsp;/&nbsp;<a href="#" class="text_decor_none"><b>Все</b></a></span>
					<div>
						<figure class="shops_block_item">
							<a href=""><img src="../images/test_shop_1.png" alt="" title="" /></a>
							<figcaption class="shops_block_item_description">
								<h3 class="shops_block_item_name">Салон на братиславской</h3>
								<p class="dark_grey">Москва, ул. Братиславская, дом 23</p>
								<p class="black">+7 495 987 65 43</p>
								<p>Часы работы:<br/> c 9.00 до 21.00</p>
							</figcaption>
						</figure>
						<figure class="shops_block_item">
							<a href=""><img src="../images/test_shop_2.png" alt="" title="" /></a>
							<figcaption class="shops_block_item_description">
								<h3 class="shops_block_item_name">Салон на братиславской</h3>
								<p class="dark_grey">Москва, ул. Братиславская, дом 23</p>
								<p class="black">+7 495 987 65 43</p>
								<p>Часы работы:<br/> c 9.00 до 21.00</p>
							</figcaption>
						</figure>
					</div>
				</section>
				<section class="info_block left_block_shadow">
					<h2>Информация</h2>
					<nav class="grey">
						<ul>
							<li><a href="#">О компании</a></li>
							<li><a href="#">Контактная информация</a></li>
							<li><a href="#">Условия продаж</a></li>
							<li><a href="#">Финансовый отдел</a></li>
							<li><a href="#">Для клиентов</a></li>
						</ul>
					</nav>
				</section>
			</section>
			<div class="footer_inner">
				<a href="http://www.qsoft.ru" target="_blank" class="qsoft grey inline-block">Сделано в</a>
				<div class="copy">&copy; 2013 Рога &amp; Сила. Продажа автомобилей.</div>
			</div>
		</footer>
	</body>
</html>